<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@%5E1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <title>Todo app</title>
  </head>
  <body class="bg-green-100">
    <div class="flex items-center justify-center h-screen">
      <div class="flex flex-col w-2/4">
        <h1 class="text-4xl font-bold text-green-400 mb-3">Todo App</h1>
        <div
          class="bg-white p-10 shadow-md rounded-md border-b-4 border-green-300"
        >
          <div class="mb-10">
            <form action="#">
              <input
                type="text"
                class="w-full text-gray-800 font-sm px-2 py-2 border-2 border-green-200 focus:outline-none rounded-md shadow-sm"
                placeholder="Add a new Task"
              />
            </form>
          </div>
          {% for t in object_list %}

          <div
            class="flex items-center justify-between mb-3 font-semibold text-gray-800 text-lg mb-5 border-l-4 border-green-300"
          >
            <h2 class="text-2xl ml-3">
              {{t.title}}
            </h2>

            {% if t.completed %}
            <button
              type="button"
              class="text-xs font-semibold text-green-400 bg-green-100 py-1 px-2 hover:bg-green-400 hover:text-white"
            >
              Completed
            </button>
            {% else %}

            <button
              type="button"
              class="text-xs font-semibold text-red-800 bg-red-300 py-1 px-2 hover:bg-red-800 hover:text-white"
            >
              Incomplete
            </button>
            {%endif%}
          </div>

          {% endfor%}
        </div>
      </div>
    </div>
  </body>
</html>

<!-- 
<h1>hello</h1>
{% for t in object_list %}
    {{ t.title }}
    {{ t.completed }}
{% endfor %}

 -->